body {
    background-color: black;

}



.front {
    text-align: center;
    
}

.list-group {
    background-color: white;
    margin: 70px;
    border-radius: 10px;

}
// .nav {

// }
// .section {

// }
.footer {
position: absolute;
    height: 200px;
    width: 100%;
bottom: 0;
}



