body {
    background-color: rgb(19, 16, 48);

}

.head {
    font-size: 23px;
    
}

.button {
    color: rgb(209, 76, 221);
    background-color: rgb(50, 230, 230);
    border-radius: 6px;
}

.front {
    text-align: center;
    
}

.list-group {
    background-color: white;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;

}
// .nav {

// }
// .section {

// }
.footer {
    color: rgb(209, 76, 221);
//position: absolute;
text-align: center;
 //   height: 200px;
   // width: 100%;
//bottom: 0;
}



